<!--
  Generated template for the DrivingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Driving</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let ride of rides" color="primary">
    <ion-card-header>
      Your ride from {{ ride.origin }} to {{ ride.destination }} on {{ ride.departs }}
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="!ride.passengers.length">There are no riders yet.</p>
      <ul>
        <li *ngFor="let rider of ride.passengers">{{ rider.first_name }} {{ rider.last_name }}</li>
      </ul>
    </ion-card-content>
  </ion-card>
<!-- <ion-card ion-card color="primary">

  <ion-card-header>
    Your ride from Copper Beech to Campus: East Campus on 10/31/2017 at 9:30 AM:  </ion-card-header>

  <ion-card-content>
    John joined! <br>
    Sarah joined!
  </ion-card-content>

</ion-card>

<ion-card ion-card color="primary">

  <ion-card-header>
    Your ride from The Hills: Stonegate to Campus: Lakeside on 10/30/2017 at 8:00 AM:  </ion-card-header>

  <ion-card-content>
    Chris joined! <br>
    Gabby joined! <br>
    Alex joined!
  </ion-card-content>

</ion-card>
 -->
</ion-content>
