<div class="card text-center align-items-center">
	<div class="card-block">
  <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAzlAAAAJGY5YzdlZjk4LTliODYtNGJlYS05NzY0LWQyYThmMTc0NzVlYw.jpg" width="200" height="200">
  <div class="card-block">
    <h4 class="card-title">Alexandra Astarita</h4>
<a class="btn btn-success">Edit Profile</a>
<br />
  	<ul class="list-group list-group-flush">
  	<li class="list-group-item text-center d-inline-block"><b>Joined</b>: 1/31/2017</li>
  	<li class="list-group-item text-center d-inline-block"><b>Bio:</b> I am a senior and live in Charleston Townes. I don't smoke and can usually fit up to 6 people in my car. I listen to the variety radio station most mornings. No payment is usually requested, but always appreciated.</li>
    <li class="list-group-item text-center d-inline-block"><b>Car</b>: 2005 Silver Acura MDX</li>
    <li class="list-group-item text-center d-inline-block"><b>Seats</b>: 6</li>
  </ul>

  <br />
    <a class="btn btn-primary" routerLink="/mycarpools">Back</a>
  </div>
	</div>
</div>

<router-outlet></router-outlet>