<div class="card text-center">
	<div class="card-block">
  <img class="card-img-top" src="http://www.iihs.org/frontend/iihs/ratings/images/api-model-year-image.ashx?id=2477&width=730" width="318" height="180">
  <div class="card-block">
    <h4 class="card-title">Your Ride</h4>
  <ul class="list-group list-group-flush">
  	<li class="list-group-item"><b>Departure Date</b>: 4/21/2017</li>
    <li class="list-group-item"><b>Departure Time</b>: 4:30 PM</li>
    <li class="list-group-item"><b>Leaving From </b>: East Campus</li>
    <li class="list-group-item"><b>Going To </b>: Sunchase</li>
    <li class="list-group-item"><b>Special Note: </b> Meet at Phys/Chem Bus Stop</li>
    <li class="list-group-item"><b>Current No. Passengers </b>: 0</li>
  </ul>

  <br />
    <a class="btn btn-primary" routerLink="/mycarpools">Back</a>
  </div>
	</div>
</div>

<router-outlet></router-outlet>