<div *ngIf="!rides.length">
  There are no rides available.
</div>
<div *ngIf="rides.length">
  <div *ngFor="let ride of rides" class="card text-center">
    <div class="card-block">
      <h4 class="card-title">Your Ride to {{ride.destination}}</h4>
      <p class="card-text"> Ride {{ride.origin}} to {{ride.destination}}</p>
      <p class="card-text"></p>
      <a class="nav-link btn btn-primary" routerLink="/ride?{{ride._id}}" routerLinkActive="active">View Carpool</a>
    </div>
  </div>
</div>

<!-- <div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Your Ride to East Campus</h4>
    <span class="badge badge-pill badge-info">New Passenger Request</span>
    <p class="card-text">10:30 AM Ride Sunchase to East Campus </p>
    <p class="card-text">2/26/2017</p>
    <a class="nav-link btn btn-primary" routerLink="/ride" routerLinkActive="active">View Carpool</a>
  </div>
</div>
<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Matt's Ride to Copper Beech</h4>
    <p class="card-text">6:15 PM Ride The Quad to Copper Beech</p>
    <p class="card-text">2/24/2017</p>
    <a class="nav-link btn btn-primary" routerLink="/ride" routerLinkActive="active">View Carpool</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Your Ride to Southview Apartments</h4>
    <p class="card-text">7:00 PM Ride East Campus to Southview</p>
    <p class="card-text">2/14/2017</p>
    <a class="nav-link btn btn-primary" routerLink="/ride" routerLinkActive="active">View Carpool</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Andrew's Ride to Lakeside</h4>
    <p class="card-text">12:00 PM Ride Foxhill Townes to Lakeside</p>
    <p class="card-text">2/11/2017</p>
    <a class="nav-link btn btn-primary" routerLink="/ride" routerLinkActive="active">View Carpool</a>
  </div>
</div> -->

<router-outlet></router-outlet>