<div class="card text-center align-items-center">
	<div class="card-block">
  <img class="card-img-top" src="http://www.freeiconspng.com/uploads/profile-icon-28.png" width="200" height="160">
  <div class="card-block">
    <h4 class="card-title">Matthew Brown</h4>
  <ul class="list-group list-group-flush">
  	<li class="list-group-item text-center d-inline-block"><b>Joined</b>: 2/03/2017</li>
  	<li class="list-group-item text-center d-inline-block"><b>Bio:</b> I am a senior and live in Sunchase apartments. Most of the time I leave for class in the morning between 9 and noon. Venmo handle is @mattbrown.</li>
    <li class="list-group-item text-center d-inline-block"><b>Seats</b>: 4</li>
  </ul>

  <br />
    <a class="btn btn-primary" routerLink="/searchresults">Back</a>
  </div>
	</div>
</div>

<router-outlet></router-outlet>