<div class="card text-center">
  <div class="card-block">
    <h2>Enter Your Ride Information</h2>
      <form (ngSubmit)="submitRide()">
                              Ride Departure Date:
                          <input type="date" class="form-control" placeholder="Leaving" [(ngModel)]="depart_date" name="depart_date">
                          <br />
                              Ride Departure Time:
                          <input type="time" class="form-control" placeholder="Time" [(ngModel)]="depart_time" name="depart_time">
                          <br />
                              Leaving From:
                           <select class="form-control" placeholder="Origin" [(ngModel)]="model.origin" name="origin">
                            <option *ngFor="let l of locations" [value]="l.value">{{l.display}}</option>
                          </select>
                          <br />
                              Going To:
                          <select class="form-control" placeholder="Origin" [(ngModel)]="model.destination" name="destination">
                            <option *ngFor="let l of locations" [value]="l.value">{{l.display}}</option>
                          </select>
                          <br />
                              Additional Ride Information:
                          <input type="text" class="form-control" placeholder="notes" [(ngModel)]="model.notes" name="notes">
                          <br />

                      <br />
                      <button *ngIf="!editing" type="submit" class="btn btn-primary btn-block">Add</button>
      </form>
    </div>
 </div>

