<!-- <div class="card text-center">
  <div class="card-block">
    <h2>Enter Your Ride information</h2>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Leaving from</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Sunchase</button>
        <button class="dropdown-item">Copper</button>
        <button class="dropdown-item">all the rest...</button>
      </div>
      <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>Going To</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item">Sunchase</button>
        <button class="dropdown-item">Copper</button>
        <button class="dropdown-item">all the rest...</button>
      </div>
    </div>
 </div>
<hr/>

    <h4>Departure Date</h4>
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<h4>Departure Time</h4>
<ngb-timepicker [(ngModel)]="time" [meridian]="meridian" ></ngb-timepicker>

<hr/>

<div class="form-group">
    <label for="usr">Payment request (optional):</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="usr">Additional Notes About Your Ride:</label>
    <input type="text" class="form-control">
  </div>
</div>

<button type="button" class="btn btn-success">Submit</button>
</div> -->

<div class="card text-center">
  <div class="card-block">
    <h2>Enter Your Ride Information</h2>
      <form (ngSubmit)="submitRide()">
                              Ride Departure Date:
                          <!-- <input type="date" class="form-control" placeholder="Leaving" [(ngModel)]="model.departs" name="departs">
                          <br /> -->
                              Ride Departure Time:
                          <input type="time" class="form-control" placeholder="Time" [(ngModel)]="model.time" name="departs">
                          <br />
                              Leaving From:
                          <input type="text" class="form-control" placeholder="Origin" [(ngModel)]="model.origin" name="origin">
                          <br />
                              Going To:
                          <input type="text" class="form-control" placeholder="Destination" [(ngModel)]="model.destination" name="destination">
                          <br />
                              Additional Ride Information:
                          <input type="text" class="form-control" placeholder="notes" [(ngModel)]="model.notes" name="notes">
                          <br />

                      <br />
                      <button *ngIf="!editing" type="submit" class="btn btn-primary btn-block">Add</button>
                      <!-- <button *ngIf="editing" type="submit" class="btn btn-warning btn-block">Update</button> -->
      </form>
    </div>
 </div>

