<div class="page-header">
  <h1>JMScoop</h1>
</div>

<div class="row">
  <div class="col-xs-5 col-md-2">
    <a href="http://www.myhealthvectors.com/assets/img/person.png" class="thumbnail">
      <img src="http://www.myhealthvectors.com/assets/img/person.png">
    </a>
	</div>
  <div class="panel panel-default">
  <div class="panel-body">
    <h4>Welcome back User123!</h4>
    Profile Information Goes here.
  </div>
</div>
</div>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="#">I'm Driving! </a></li>
  <li role="presentation"><a routerLink="/ineedaride" routerLinkActive="active">I need a ride!</a></li>
  <li role="presentation"><a href="#">My Carpools</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <li role="presentation"><a href="#">Settings<i class="fa fa-cog" aria-hidden="true"></i></a></li>


  <li class="navbar-header">
  <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
</li>

</ul>
<router-outlet></router-outlet>