<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">JMScoop</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!auth.authenticated()">
        <a class="nav-link" (click)="auth.login()">Login</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated()">
        <a class="nav-link" routerLink="/ineedaride" routerLinkActive="active">Find a Ride</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated()">
        <a class="nav-link" routerLink="/postaride" routerLinkActive="active">Post a Ride</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated()">
        <a class="nav-link" routerLink="/mycarpools" routerLinkActive="active">My Carpools</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated()">
        <a class="nav-link" (click)="auth.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
