<div class="card text-center">
  <div class="card-block">
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Enter Search Criteria
  </button>
  <button type="button" class="btn btn-success">Search</button>
</div>
</div>

<div id="collapseExample" [ngbCollapse]="!isCollapsed">
<div class="card text-center">
  <div class="card-block">

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Leaving from</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Sunchase</button>
        <button class="dropdown-item">Copper</button>
        <button class="dropdown-item">all the rest...</button>
      </div>
      <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Going To</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Sunchase</button>
        <button class="dropdown-item">Copper</button>
        <button class="dropdown-item">all the rest...</button>
      </div>
    </div>
 </div>

<hr/>

  	<h4>Departure Date</h4>
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<h4>Departure Timeframe</h4>
<ngb-timepicker [(ngModel)]="time" [meridian]="meridian" ></ngb-timepicker>
<ngb-timepicker [(ngModel)]="time1" [meridian]="meridian"></ngb-timepicker>


</div>
</div>
</div>


