<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>
 
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="btn-group" dropdown>
          <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
            Time <span class="caret"></span>
          </button>
          <ul dropdownMenu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a class="dropdown-item" href="#">9:00</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">9:05</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">9:10</a></li>
           <li role="menuitem"><a class="dropdown-item" href="#">9:15</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">9:20</a></li>
           <li role="menuitem"><a class="dropdown-item" href="#">9:25</a></li>
          </ul>
        </div><br>





      </div>
    </div>
  </div>
</div>