<div class="card text-center">

  <div class="card-block">
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Enter Search Criteria
  </button>
  <button type="button" class="btn btn-success" routerLink="/searchresults">Search</button>
</div>
</div>

<div id="collapseExample" [ngbCollapse]="!isCollapsed">
<div class="card text-center">
  <div class="card-block">
      Leaving From:
      <select class="form-control" placeholder="Origin" name="origin">
         <option *ngFor="let l of locations" [value]="l.value">{{l.display}}</option>
      </select>
    
    <br />
    Going To:
    <select class="form-control" placeholder="Destination" name="destination">
         <option *ngFor="let l of locations" [value]="l.value">{{l.display}}</option>
    </select>


<hr/>

  	<h4>Departure Date</h4>
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<h4>Departure Timeframe</h4>
<ngb-timepicker [(ngModel)]="time" [meridian]="meridian" ></ngb-timepicker>
<ngb-timepicker [(ngModel)]="time1" [meridian]="meridian"></ngb-timepicker>


</div>
</div>
</div>


